#ProductDetailsComment{
    padding: 10px 0px;
    border: rgb(169, 169, 169) solid 1px;
    background: #E1E8ED  ;
    border-radius: 10px;
}

.buttonMore{
    background:white;
    color: #4285F4;
    border: #E1E8ED solid 1px;
    border-radius: 10px;
    height: 35px;
    transition: 0.5s;
}

.buttonMore:hover {
    background:#4285F4;
    color:white;
    border: #E1E8ED solid 1px;

}


