.center-text {
  width: 200px;
  padding-top: 85px;
  padding-bottom: 0px;
  font-size: 24px;
  text-align: center;
  }
  .center-text-1 {
    width: 200px;
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 24px;
    text-align: center;
    }
  .center-text-2 {
  width: 200px;
  padding-top: 85px;
  padding-bottom: 0px;
  font-size: 24px;
  text-align: center;
  }  
.center-me {
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
  text-align: center;
}  
.button {
  background-color: 	#FF0000;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 15px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
}
.button:hover {opacity: 1}
.mount {
  width: 100px;
}
.button1 {
  padding: 10px 20px;
  font-size: 15px;
}
.button2 {
  padding: 10px 10px;
  font-size: 15px;
  color: black;
  background-color: #4CAF50;
  border-color: #2e6da4;
}
.table {
  border-collapse: collapse;
  width: 100%;
}
img.imgcart{
  width: 216px;
}
